body {
    width: 560px;
}

ul {
    background-color: lightblue; 
    padding: 20px;
    font-style: italic;
}
            
li { 
    margin: 10px; 
    font-size: 24px;
}

fieldset, div, input {
    margin: 5px;
}

.gender {
    margin: 5px 0 5px 0;
}